<h2><%= @recipe.name %></h2>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: A mere <%= @recipe.cook_time %>!</p>

<a href="/recipes/<%= @recipe.id %>/edit">Get Rid of This</a>

<form action="/recipes/<%= @recipe.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="delete">
</form>
